

.content1000{
    position: absolute;
    width: 1700px;
    margin-left: -350px;
    margin-top: -270px;
    padding-bottom: 50px;
}
.div1001 h6{
    font-size: 20px;
    position: absolute;
    margin-top: -110px;
    font-style: bold;
    font-weight: 500;
}

.div1000 h6{
    color: black;
    font-size: 19px;
    margin-left: 0px;
}
.div1000 span{
    font-size: 14px;
}
.dt1000{
    display: flex;
    padding-left: 170px;
    padding-top: 20px;
    font-size: 22px;
}
.search-bar1000 {
    position: absolute;
    display: flex;
    margin-left: 210px;
    width: 40%;
 }
 .search-bar1000 input{
    width: 300px;
    padding-right: 80px;
    height: 34px;
    margin-left: 186px;
}
.dt1001{
    margin-top: -20px;
    background-color: rgb(255, 255, 255);
    
}
.box1000{
    background-color: rgb(232, 237, 241);
}
.span1000{
    padding-top: 6px;
}
.div1005{
    margin-right: 20px;
    margin-top: 120px;
    display: flex;
    gap: 15px;
}
.btn1000{
    display: flex;
    margin-right: 20px;
    gap: 5px;
    color: red;
}
.btn1000:hover{
  scale: 1.03;
}
.btn1001:hover{
  scale: 1.03;
}
.btn1001{

    margin-right: 20px;
    display: flex;
    gap: 10px;
    color: rgb(76, 77, 69);
}
.icn1000{
    padding-top: 4px;
}
.icn1001{
    padding-top: 4px;
}
@media print {
    
    .div1100 {
        display: block;
        align-items: center;
    }
    
    .modal, .add-event {
        display: none; 
    }

    .right {
        display: block;
        width: 100%;
        margin: 0; 
    }

    .day {
        width: 14.285%; 
        float: left; 
    }

    .box1100 {
        width: 100%; 
        display: flex;
        justify-content: space-between; 
    }

    
}
