body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.dt{
    position: absolute;
    margin-left: -400px;
    margin-top: -224px;
    width: 1100px;
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    border-radius: 15px;
}
.name001{
    margin-left: -60px;
}
.top001{
    width: 1313px;
}
.ps{
    margin-left: -25px;
}
.act{
    display: flex;
    gap: 10px;
}
.update02{
    background-color: rgb(221, 165, 25);
   padding: 10px;
   border-radius: 6px;
   color: white;
}
.delete02{
    padding: 10px;
    background-color: rgb(214, 5, 5);
    border-radius: 6px;
    color: white;
}
.dt1{
    background-color: rgb(0, 2, 10);
}
.dt3{
    background-color: rgb(211, 183, 211);
}
.dt200{
    display: flex;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 22px;
}
.dt201{
font-size: 20px;
padding: 7px 15px;
margin-right: 20px;
background-color: #6B75FE;
border-radius: 6px;
color: white;
}
.dt203{
font-size: 20px;
padding:7px 15px;
background-color: #6B75FE;
border-radius: 6px;
color: white;
}
.dt202{
    margin-left: 700px;
    padding-bottom: 35px;
}
