.d1{
    width: 100%;
}
.d1 img{
    width: 100%;
    margin-top: 70px;
}
.s1 {
    position: absolute;
    margin-top: -650px;
    margin-left: 100px;
    color: rgb(44, 41, 41);
    background: transparent ;
    background-color: linear-gradient(135deg,rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(90px);
    -webkit-backdrop-filter: blur(50px);
    border: 1px solid rgba(255,255,255,0.18);
    border-radius: 10px;
    width: 300px;
    height: 370px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    
}
.s1 h1{
    margin-top: 20px;
    font-size: 32px;
    padding-top: 10px;
}
.s1 p{
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 20px;
}
.s1 span{
    color: rgb(44, 41, 41);
}
.s1 button{
    margin-top: 30px;
    padding: 10px 25px;
    border-radius: 6px;
    background-color: #6B75FE;
    color: white;
}
.d2{
    margin-top: 200px;
    margin-left: 100px;
    display: flex;
    gap: 50px;

}
.d2 .dis{
    width: 40%;
    animation: appear5 15s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;

}
.d2 img{
    width: 700px;
    height: 600px;
    margin-top: -0px;
}
.dis .about1000{
    padding-bottom: 20px;
}
.d2 .dis .p1{
    margin-top: 0px;

}
.d2 .dis .p2{
    margin-top: 30px;
}
.dflex{
    display: flex;
    gap: 20px;
    height: 100px;
    margin-top: 20px;


}
.s2{
    width: 300px;
    height: 150px;
    background-color: #D9D9D9;
    padding: 30px;
    border-radius: 10px;
}
.s2:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.01);
}
.s2 h1{
    color: #6B75FE;
}
@keyframes appear5{
    from{
        opacity: 0;
        transform: translateY(-50px);
    }to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.dis button{
    margin-top: 75px;
    padding: 12px 20px;
    border-radius: 10px;
    color: #6B75FE;
    border: 2px solid #6B75FE;
    background-color: #ffffff;
}
.dis button:hover{
    color: #ffffff;
    background-color: #6B75FE;
}


.srch1122{
    margin-top: 200px;
    background-color: #6B75FE;
    height: 100px;
    padding-top: 20px;
    border-radius: 10px;
    width: 1000px;
    margin-left: 250px;
    animation: show 0.5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;

}


.care{
    display: flex;
    margin-left: 110px;
    gap: 10px;
    margin-top: 100px;
   
}
.care img{
    width: 45%;
    border-radius: 6px;
}
.care .care1{
    background-color: #DFF3FD;
    margin-top: 68px;
    padding-left: 20px;
    padding-top: 20px;
    border-radius: 20px;
    animation: slide1 5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;

}
.care .care1 h1{
    padding-top: 20px;
    padding-left: 10px;
}
.care .care1 p{
    margin-top: 30px;
    padding-right: 90px;
}
.care .care1 span{
    color: #0B447E;
}
.dis span{
    color: #0B447E;
}
.care .care1 button{
  margin-top: 20px;
  padding: 5px 20px;
  border: 2px solid #6B75FE;
  color: #6B75FE;
  background-color:#DFF3FD;
  border-radius: 10px;
}
.care .care1 button:hover{
    background-color: #6B75FE;
    color: white;
}
.ft0{
    margin-top: 50px;
}
@keyframes slide1{
    from{
        opacity: 0;
        transform: translateX(200px);
    }to{
        opacity: 1;
        transform: translateX(0px);
    }
}


.content-7{
    
    margin-top: 200px;
    margin-left: 00px;
  }
  *{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

.container9{
    background:#6B75FE;
    padding:15px 9%;
    padding-bottom: 100px;
    margin-left: -10px;
   
}

.container9 .heading90{
    text-align: center;
    padding-bottom: 15px;
    color:#ffffff;
    font-size: 50px;
    margin-top: 40px;
}

.container9 .box-container9{
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap:50px;
    margin-top: 100px;
    
}

.container9 .box-container9 .box90{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding:10px 20px;
    animation: show 0.5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.container9 .box-container9 .box90 img{
    height: 240px;
}

.container9 .box-container9 .box90 h3{
    color:#585757;
    font-size: 22px;
    padding:10px 0;
}

.container9 .box-container9 .box90 p{
    color:#777;
    font-size: 15px;
    line-height: 1.8;
}

.container9 .box-container9 .box90 .btn{
    margin-top: 10px;
    display: inline-block;
    background:#333;
    color:#fff;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
}

.container9 .box-container9 .box90 .btn:hover{
    letter-spacing: 1px;
    background-color: #6B75FE;
    color: #fff;
}

.container9 .box-container9 .box90:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.03);
   
}