/* Main CSS for the Employee Dashboard */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f1f6;
}

.dashboard70 {
    position: absolute;
    
}

.main-container {

    padding: 20px;
}

/* Remove the existing table styles */