* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
    display: flex;
}

.container37 {
    margin-top: 120px;
    margin-left: 175px;
    position: relative;
    max-width: 1100px;
    width: 100%;
    border-radius: 6px;
    background-color: #ffffff;
    padding: 30px;
    box-shadow: 0 5px 10px black;
    height: auto;
}

.container37 header {
    font-size: 26px;
    font-weight: 600;
    color: #333;
}

.container37 header::before {
    content: "";
    position: absolute;
    left: 0;
    top: 65px;
    margin-left: 29px;
    height: 3px;
    width: 27px;
    border-radius: 8px;
    background-color: #4070fa;
}


.container37 form {
    position: relative;
    margin-top: 29px;
    min-height: 490px;
    background-color: #fff;
}

.container37 form .fields37 {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

form .fields37 .input-field37 {
    display: flex;
    width: 290px;
    flex-direction: column;
    margin: 10px;
}

.input-field37 label {
    font-size: 15px;
    font-weight: 500;
    color: #2e2e2e;
}

.input-field37 input, .input-field37 select {
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}

.input-field37 select {
    cursor: pointer;
}

.input-field37 input:is(:focus, :valid), .input-field37 select:is(:focus, :valid) {
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}

.input-field37 input[type="date"] {
    color: #707070;
}

.input-field37 input[type="date"]:valid {
    color: #707070;
}

.input-field37 input:hover, .input-field select:hover {
    border-color: #6B75FE;
}

.button-container37 {
    display: flex;
    justify-content: center; /* Horizontally centers the button */
    margin-top: 20px; /* Optional: Adds some space above the button */
}

.container37 form .subBtn37 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    max-width: 150px;
    width:100%;
    border: none;
    outline: none;
    color: white;
    border-radius: 5px;
    background-color: #6B75FE;
    margin: 85px 0;
    transition: all 0.3s linear;
    cursor: pointer;
}

form button:hover {
    background-color: #4070ff;
}

.newN37 {
    margin-bottom: 80px;
}

.newf37 {
    margin-top: 180px;
    width: 1550px;
}

/* Error message styling */
.error {
    color: red;
    font-size: 12px;
    margin-top: -5px;
    display: block;
    padding-left: 5px;
}