* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  min-height: 100vh;
  overflow-x: hidden;

}

.container {
  position: relative;
  width: 100%;
}
.navigation2 {
    position: fixed;
    width: 300px;
    height: 100%;
    background: #9BA4BF;

    border-left: 10px solid #9BA4BF;

    border-left: 10px solid#9BA4BF;

    transition: 0.5s;
    overflow: hidden;
  }
  .logo img{
    margin-left: 10px;
    margin-top: 10px;
    width: 70px;
    border-radius: 10px;
  }
  .navigation2.active {
    width: 80px;
  }
  
  .navigation2 ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .navigation2 .title5{
    margin-left: 15px;
    margin-top: 22px;
    font-weight: 800;
    font-style: bold;
    font-size: 32px;
  }
  .navigation2 .title{
    margin-top: -40px;
    margin-left: 29px;
  }

  .navigation2 ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  
  .navigation2 ul li:hover,
  .navigation2 ul li.hovered {
    background-color: rgb(147, 115, 209);
  }
  
  .navigation2 ul li:nth-child(1) {
    margin-bottom: 120px;
    pointer-events: none;
  }
  
  .navigation2 ul li:nth-child(5){
    margin-top: 280px;
  }
  
  .navigation2 ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  
  
  .navigation2 ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 75px;
    text-align: center;
  }
  .navigation2 ul li a .icon ion-icon {
    font-size: 1.75rem;
  }
  
  .navigation2 ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
  }
  
  
  
  /* ===============================================Searchbar & Photo  ========================================== */
  .main {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
  }
  .main.active {
    width: calc(100% - 80px);
    left: 80px;
  }
  
  .topbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    
  }
  
  .toggle {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    cursor: pointer;
  }
  
  .search {
    position: relative;
    width: 400px;
    margin: 0 10px;
  }
  
  .search label {
    position: relative;
    width: 100%;
  }
  
  .search label input {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 18px;
    outline: none;
    border: 1px solid black;
  }
  
  .search label ion-icon {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2rem;
  }
  
  .user {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
  }
  
  .user img {
   
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .fa fa-car{
   font-size:70px;
  }
  