* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  min-height: 100vh;
  overflow-x: hidden;

}

.container11 {
  position: relative;
  width: 100%;
}
.navigation2 {
    position: fixed;
    width: 300px;
    height: 100%;
    background: #9BA4BF;

    border-left: 10px solid #9BA4BF;

    border-left: 10px solid#9BA4BF;

    transition: 0.5s;
    overflow: hidden;
  }
  .logo img{
    margin-left: 10px;
    margin-top: 10px;
    width: 70px;
    border-radius: 10px;
  }
  .navigation2.active {
    width: 80px;
  }
  
  .navigation2 ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .navigation2 .title5{
    margin-left: 15px;
    margin-top: 22px;
    font-weight: 800;
    font-style: bold;
    font-size: 32px;
  }
  .navigation2 .title{
    margin-top: -40px;
    margin-left: 29px;
    width: 100%;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
  }

  .navigation2 ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  
  
  .navigation2 ul li:nth-child(1) {
    margin-bottom: 120px;
   
  }
  
  .navigation2 ul li:nth-child(4){
    margin-top: 280px;
  }
  
  .navigation2 ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
 .navigation2 ul li .title:hover{
  background-color:#6B75FE;
  color: white;
  
 }
  
  .navigation2 ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 75px;
    text-align: center;
  }
  .navigation2 ul li a .icon ion-icon {
    font-size: 1.75rem;
  }
  
  .navigation2 ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
  }
  
  
 /* Container for the dashboard */
.d {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 10px;
}

/* Search bar and notification */
.d3 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
}

input[type='search'] {
  padding: 5px;
  font-size: 14px;
  margin-right: 10px;
}

.notify, .menu001 {
  margin-left: 10px;
}

.icons {
  display: flex;
  align-items: center;
}

aside {
  width: 350px;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 1024px) {
  .icons {
      flex-direction: row;
  }

  aside {
      width: 50px;
  }

  .titles {
      display: none;
  }

  .d5 {
      display: none;
  }

  .d3 input[type='search'] {
      width: 100%;
      margin-right: 0;
  }

  .m-0 {
      margin: 0;
  }
}

@media (max-width: 768px) {
  .notify, .menu001 {
      margin-left: 0;
  }

  aside {
      width: 100%;
      height: auto;
      position: fixed;
      bottom: 0;
  }

  .d2 {
      text-align: center;
  }
}
